version: '3'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./backend:/usr/src/backend
    environment:
      - ENV_VARIABLE=example_value
    # networks:
    #   - my_app_network

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/usr/src/frontend
    command: sh -c 'yarn start'
    ports:
      - '3000:3000'
#     networks:
#       - my_app_network

# networks:
#   my_app_network:
#     driver: bridge

